* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan';
}

.container {
    margin: 5rem auto;
    background-color: #ffffff;
    max-width: 50rem;
}

/* product reviews */

.about-product {
    margin: 1.2rem;
}

.product-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.heading {
    color: #4f214f;
    margin-bottom: 1rem;
    max-width: 15rem;
    font-weight: 700;
}

.what-we-do {
    color: #937b92;
    font-size: 0.7rem;
    line-height: 1.5;
    max-width: 17rem;
    font-weight: 500;
}

/* star ratings */

.star-ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.star-ratings div {
    padding: 0.8rem;
    border: 1px solid #f7f2f7;
    background-color: #f7f2f7;
    border-radius: 0.4rem;
}

.star-ratings p {
    padding-right: 1.5rem;
    font-size: 0.8rem;
    color: #4f214f;
    font-weight: 700;
}

.star-ratings span {
    display: inline-block;
    color: #ffa500;
    padding-right: 1.3rem;
}

.star-ratings .reviews {
    margin-right: 4rem;
}

.star-ratings .guru {
    margin-left: 2rem;
    margin-right: 2rem;
}

.star-ratings .best-tech {
    margin-left: 4rem;
}

.reviews p,
.guru p,
.best-tech p {
    display: inline;
}

/* about customers*/

.about-customers {
    margin: 1.2rem;
}

.customer-testimonies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.customer-testimonies .profile {
    background-color: #4f214f;
    padding: 1.3rem;
    border-radius: 0.5rem;
}

.irene-content,
.colten-content,
.anne-content {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

.consumer-info {
    margin-top: 1rem;
    line-height: 1.2;
}

.customer-testimonies img {
    margin-top: 0.5rem;
    border-radius: 50%;
    width: 3rem;
}

.testimony {
    margin-top: 1rem;
    font-size: 0.7rem;
    line-height: 1.5;
}

.fullname,
.testimony {
    color: #f7f2f7;
    font-weight: 450;
}

.fullname {
    font-weight: 600;
}

.status {
    color: #ee68a4;
    font-weight: 450;
}

.customer-testimonies .irene-roberts {
    margin-top: 2rem;
}

.customer-testimonies .anne-wallace {
    margin-top: 4rem;
}



/* Footer */
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}