* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan';
}

.container {
    margin: 5rem auto;
    background-color: #ffffff;
    max-width: 50rem;
}

/* product reviews */

.product-reviews {
    display: flex;
    margin: 1rem;
    gap: 6rem;
}

.heading {
    color: #4f214f;
    margin-bottom: 1rem;
    max-width: 15rem;
    font-weight: 700;
}

.what-we-do {
    color: #937b92;
    font-size: 0.7rem;
    line-height: 1.5;
    max-width: 17rem;
    font-weight: 500;
}

/* star ratings */

.star-ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.star-ratings div {
    padding: 0.8rem;
    border: 1px solid #f7f2f7;
    background-color: #f7f2f7;
    border-radius: 0.4rem;
}

.star-ratings p {
    padding-right: 1.5rem;
    font-size: 0.8rem;
    color: #4f214f;
    font-weight: 700;
}

.star-ratings span {
    display: inline-block;
    color: #ffa500;
    padding-right: 1.3rem;
}

.star-ratings .reviews {
    margin-right: 5rem;
}

.star-ratings .guru {
    margin-left: 2rem;
    margin-right: 2.5rem;
}

.star-ratings .best-tech {
    margin-left: 4rem;
}

.reviews p {
    display: inline;
}

.guru p {
    display: inline;
}

.best-tech p {
    display: inline;
}

/* customer testemonies */

.customer-testimonies {
    display: flex;
}


/* Footer */
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}